<h3 style="text-align: center">Bio</h3>
<hr/>
<div id="bio">
<img src="{{url}}" style="float: left;height: 10em"/>
{{#markdown}}
{{bio}}
{{/markdown}}
</div>

<h3 style="text-align: center">Projects</h3>
<hr/>
<div id="projects">
<ul>
{{#each projects}}
    <li>
        <h4>{{@key}} - {{name}}</h4>
        {{#markdown}}
{{text}}
        {{/markdown}}
        {{#if pdf}}
            [iframe src="https://docs.google.com/gview?url={{pdf}}&embedded=true" frameborder="0"]</iframe>
        {{/if}}
    </li>
{{/each}}
</ul>
</div>

{{#if links}}
    <h3>Links</h3>
    <ul>
    {{#each links}}
        <li><a href="{{this}}" rel="me">{{@key}}</a></li>
    {{/each}}
    </ul>
{{/if}}